_Run the first 2 cells without modifications_

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from IPython import get_ipython
from IPython.display import Markdown #, IFrame
# for presentations:
#display(HTML("<style>.container { width:100% !important; }</style>"))

import sys
from pathlib import Path
print('Python ver: {}\nPython env: {}'.format(sys.version, Path(sys.prefix).name))
print('Currrent dir: {}\n'.format(Path.cwd()))


def add_to_sys_path(this_path, up=False):

    """
    Prepend this_path to sys.path.
    If up=True, path refers to parent folder (1 level up).
    """

    if up:
        newp = str(Path(this_path).parent)
    else:
        newp = str(Path(this_path))

    if newp not in sys.path:
        sys.path.insert(1, newp)
        print('Path added to sys.path: {}'.format(newp))


import numpy as np
import pandas as pd
#pd.set_option("display.max_colwidth", 200)
import matplotlib as mpl
from matplotlib import pyplot as plt
#plt.ion()
plt.style.use('seaborn-v0_8-muted')
from pprint import pprint as pp

def fdir(obj, start_with_str='_', exclude=True):
    """Filtered dir() for method discovery."""
    return [d for d in dir(obj) if not d.startswith(start_with_str) == exclude]


def new_section(title='New section'):
    style = "text-align:center;background:#c2d3ef;padding:16px;color:#ffffff;font-size:2em;width:98%"
    return HTML('<div style="{}">{}</div>'.format(style, title))


def add_div(div_class, div_start, div_text, output_string=True):
    """
    Behaviour with default `output_string=True`:
    The cell is overwritten with the output string, but the cell mode is still in 'code' not 'markdown':
    ```
    [x]
    add_div('alert-warning', 'Tip: ', 'some tip here', output_string=True)
    [x]
    <div class="alert alert-warning"><b>Tip: </b>some tip here</div>
    ```
    The only thing to do is change the cell mode to Markdown.
    If `output_string=False`, the HTML output is displayed in an output cell.
    """

    accepted = ['alert-info', 'alert-warning', 'alert-danger']

    if div_class not in accepted:
        return HTML(f"""<div class="alert"><b>Wrong class:</b> `div_start` is one of {accepted}.
                    </div>""")
    div = f"""<div class="alert {div_class}"><b>{div_start}</b>{div_text}</div>"""
    if output_string:
        return get_ipython().set_next_input(div, 'markdown')
    else:
        return Markdown(div) #HTML(div)



# autoreload extension
ipython = get_ipython()
if 'autoreload' not in ipython.extension_manager.loaded:
    %load_ext autoreload
%autoreload 2

Python ver: 3.11.5 | packaged by conda-forge | (main, Aug 27 2023, 03:34:09) [GCC 12.3.0]
Python env: mce
Currrent dir: /home/cat/projects/MCCE_Benchmarking/notebooks

In [2]:
add_to_sys_path(Path.cwd(), up=True)

Path added to sys.path: /home/cat/projects/MCCE_Benchmarking

In [265]:
from benchmark import audit
import shutil
import random
import subprocess

audit DATA: /home/cat/projects/MCCE_Benchmarking/benchmark/data

DATA = Path("../").joinpath("benchmark", "data")
DATA
PDBS = DATA.joinpath("clean_pdbs")
PDBS
WT = DATA.joinpath("WT_pkas.csv")
WT
Q_BOOK = DATA.joinpath("book.txt")
Q_BOOK
PROTS = DATA.joinpath("proteins.tsv")
PROTS

In [291]:
prot_df = audit.proteins_df()
prot_df

multi = prots_df[prots_df.Model == 'multi']
multi

       PDB                      Biounit  Use   Model
0    #1A91             Membrane protein  NaN     NaN
1    #1A93             Membrane protein  NaN     NaN
2    #1AZP   Nucleotide binding protein  NaN     NaN
3    #1BCX  beta-D-xylopyranose no ftpl  NaN     NaN
4    #1BNZ   Nucleotide binding protein  NaN     NaN
..     ...                          ...  ...     ...
148   4PTI                            1    A  single
149   6LYZ                            1    A  single
150   7RSA                            1    A  single
151   9RAT                            1    A  single
152   9RNT                            1    A  single

[153 rows x 4 columns]

      PDB Biounit  Use  Model
37   1ANS       1  A.1  multi
40   1BEG       1  A.1  multi
46   1BNR       1  A.1  multi
48   1BUS       1  A.1  multi
51   1CVO       1  A.1  multi
53   1DE3       1  A.1  multi
59   1EGF       1  A.1  multi
62   1EPH       1  A.1  multi
72   1FW7       1  A.1  multi
73   1GB1       1  A.1  multi
76   1HIC       1  A.1  multi
85   1JAS       1  A.1  multi
96   1MEK       1  A.1  multi
97   1MUT       1  A.1  multi
98   1NZP       1  A.1  multi
118  1YGW       1  A.1  multi
128  2IGH       1  A.1  multi
137  3EGF       1  A.1  multi
138  3GB1       1  A.1  multi

excluded_df = audit.proteins_df(return_excluded=True)
excluded_df

miss = audit.reset_multi_models()
len(miss)

In [292]:
valid, invalid = audit.audit_clean_pdbs_folder()
if invalid:
    invalid

Valid folders: 139; Invalid folders: 0

audit.reset_book_file(Q_BOOK)
audit.same_pdbs_book_v_clean()

## tests

In [95]:
matched_pks = []
for i in range(10):
    matched_pks.append((random.choice("ABCDRGWSX"),
                         random.choice([3.2, 5.1, 6., 4.4, 7.2]),
                        random.choice([3.2, 5.1, 6., 4.4, 7.2]*2)))
matched_pks

[('R', 3.2, 3.2),
 ('W', 5.1, 7.2),
 ('B', 3.2, 4.4),
 ('C', 4.4, 7.2),
 ('A', 4.4, 7.2),
 ('D', 6.0, 7.2),
 ('W', 7.2, 7.2),
 ('R', 4.4, 6.0),
 ('W', 3.2, 5.1),
 ('W', 3.2, 3.2)]

In [33]:
pka_dict = experimental_pkas_to_dict(WT)
len(pka_dict)
list(pka_dict.keys())[:10]

1214

[('135L', 'ASP-A0018_'),
 ('135L', 'GLU-A0035_'),
 ('135L', 'GLU-A0007_'),
 ('135L', 'ASP-A0119_'),
 ('135L', 'ASP-A0087_'),
 ('135L', 'ASP-A0052_'),
 ('1A2P', 'CTR-C0110_'),
 ('1A2P', 'HIS+C0102_'),
 ('1A2P', 'ASP-C0101_'),
 ('1A2P', 'ASP-C0086_')]

4. Start a fresh batch run
    * make prot.pdb ready
    * remove pK.out
    * make book file ready (clear the status code)
    * prepare job script - run.sh
    * edit 3 entries in bin/batch_submit.py
        n_active = 10   # keep this number of active jobs
        queue_book = "book.txt"
        job_name = "run.sh"
    * go to clean_pdbs directory, run ../bin/batch_submit.py
    * test if book.txt file has a new time stamp every time you run the batch_submit.py script.