_Run without modifications (helper functions)_:

In [85]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.display import Markdown #, IFrame
# for presentations:
#display(HTML("<style>.container { width:100% !important; }</style>"))

import numpy as np
import pandas as pd
#pd.set_option("display.max_colwidth", 200)
import matplotlib as mpl
from matplotlib import pyplot as plt
plt.ion()
plt.style.use('seaborn-v0_8-muted')
from pprint import pprint as ptp

import sys
from pathlib import Path
print('Python ver: {}\nPython env: {}'.format(sys.version, Path(sys.prefix).name))
print('Currrent dir: {}\n'.format(Path.cwd()))


def add_to_sys_path(this_path, up=False):
    """
    Prepend this_path to sys.path.
    If up=True, path refers to parent folder (1 level up).
    """

    if up:
        newp = str(Path(this_path).parent)
    else:
        newp = str(Path(this_path))
    if newp not in sys.path:
        sys.path.insert(1, newp)
        print('Path added to sys.path: {}'.format(newp))


def fdir(obj, start_with_str='_', exclude=True):
    """Filtered dir() for method discovery."""
    return [d for d in dir(obj) if not d.startswith(start_with_str) == exclude]

def despine(which=['top','right']):
    """which ([str])): 'left','top','right','bottom'."""

    ax = plt.gca()
    for side in which:
        ax.spines[side].set_visible(False)
    return

def md_width_comment(w:int=120) -> str:
    """Width guide for composing md documents."""
    return f"<!-- dotted line width = {w}\n{'.'*w}-->"


# autoreload extension
%load_ext autoreload
%autoreload 2

Python ver: 3.11.8 | packaged by conda-forge | (main, Feb 16 2024, 20:53:32) [GCC 12.3.0]
Python env: mcbtest
Currrent dir: /home/cat/projects/MCCE_Benchmarking/notebooks

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

add_to_sys_path(Path.cwd(), up=True)

---
---

In [86]:
from mcce_benchmark import BENCH, FILES, ANALYZE_DIR, RUNS_DIR, SUB1, SUB2
from mcce_benchmark import USER_PRFX, USER_ENV, CONDA_PATH
from mcce_benchmark import io_utils as iou
from mcce_benchmark import pkanalysis

#print(BENCH)
print(f"{USER_PRFX = }\n{USER_ENV = }\n{CONDA_PATH = }")

USER_PRFX = '/home/cat/miniconda3/envs/mcbtest'
USER_ENV = 'mcbtest'
CONDA_PATH = PosixPath('/home/cat/miniconda3/condabin')

In [87]:
for fp in FILES:
    print(fp.name, fp.value)

ALL_PKAS all_pkas.out
ALL_PKAS_TSV all_pkas.tsv
ALL_SUMCRG all_sumcrg.out
ALL_SUMCRG_DIFF all_smcrg_diff.tsv
ALL_PKAS_OOB all_pkas_oob.tsv
JOB_PKAS job_pkas.pickle
CONF_COUNTS conf_counts.tsv
RES_COUNTS res_counts.tsv
RUN_TIMES run_times.tsv
CONFS_PER_RES confs_per_res.tsv
CONFS_THRUPUT confs_throughput.tsv
FIG_CONFS_TP confs_throughput.png
MATCHED_PKAS matched_pkas.csv
MATCHED_PKAS_STATS matched_pkas_stats.pickle
PKAS_STATS pkas_stats.csv
RES_OUTLIER outlier_residues.tsv
FIG_FIT_ALLPKS pkas_fit.png
FIG_FIT_PER_RES res_analysis.png

Output files:
    ALL_PKAS = "all_pkas.out"
    ALL_SUMCRG = "all_sumcrg.out"
    ALL_PKAS_OOB = "all_pkas_oob.tsv"    # out of bounds pKas
    JOB_PKAS = "job_pkas.json"                    # from dict

# needed?
# Same outputs created with sub-command {SUB1}, but for
# USER_ ? or same names but will reside in -o folder?

    CONF_COUNTS = "conf_counts.tsv"
    RES_COUNTS = "res_counts.tsv"
    RUN_TIMES = "run_times.tsv"
    CONFS_PER_RES = "confs_per_res.tsv"
    CONFS_THRUPUT = "confs_throughput.tsv"
    FIG_CONFS_TP = "confs_throughput.png"

+ save calc_pkas dict- > calc_pkas.pickle: JOB_PKAS = "job_pkas.pickle"

    Also created with sub-command {SUB1}:
    MATCHED_PKAS = "matched_pkas.csv"
    MATCHED_PKAS_STATS = "matched_pkas_stats.json" # from dict
    PKAS_STATS = "pkas_stats.csv"
    RES_OUTLIER = "outlier_residues.tsv"
    FIG_FIT_ALLPKS = "pkas_fit.png"
    FIG_FIT_PER_RES = "res_analysis.png"

---
# Use ~/projects/bench_tests/all_pdbs as bdir

In [91]:
bdir = Path("../../bench_tests/newEP2").resolve()
bdir
benchmarks_dir = iou.Pathok(bdir)
print(f"{benchmarks_dir = }")
analyze = benchmarks_dir.joinpath(ANALYZE_DIR)
pdbs = iou.Pathok(benchmarks_dir.joinpath(RUNS_DIR))
print(f"{pdbs = }")

book_fp = pdbs.joinpath(BENCH.Q_BOOK)

PosixPath('/home/cat/projects/bench_tests/newEP2')

benchmarks_dir = PosixPath('/home/cat/projects/bench_tests/newEP2')
pdbs = PosixPath('/home/cat/projects/bench_tests/newEP2/RUNS')

In [208]:
expl_pks = pkanalysis.experimental_pkas_to_dict()

In [209]:
calc_pks = pkanalysis.job_pkas_to_dict(book_fp)

None

In [218]:
#except (np.linalg.LinAlgError, RuntimeWarning, FloatingPointError, RankWarning) as e
try:
    #raise Exception('An error has occurred.')
    raise Exception(np.linalg.LinAlgError) #, RuntimeWarning, FloatingPointError, np.RankWarning) 
except Exception as ex:
    print(str(ex))

<class 'numpy.linalg.LinAlgError'>

In [94]:
# analyze_runs():
matched_fp = analyze.joinpath(FILES.MATCHED_PKAS.value)
#matched_pkas_to_csv(matched_fp, matched_pkas)

In [95]:
!cat {matched_fp}

key,mcce,expl
135L/ASP-A0018_,0.0,2.68
135L/GLU-A0035_,0.0,6.06
135L/GLU-A0007_,0.0,2.68
135L/ASP-A0119_,0.0,3.35
135L/ASP-A0087_,0.0,2.13
135L/ASP-A0052_,0.0,3.78
1A2P/CTR-C0110_,0.0,3.3
1A2P/HIS+C0102_,14.0,6.3
1A2P/ASP-C0101_,0.0,2.0
1A2P/ASP-C0086_,0.0,4.2
1A2P/ASP-C0008_,0.0,3.1
1A2P/GLU-C0073_,0.0,2.1
1A2P/GLU-C0060_,0.0,3.0
1A2P/ASP-C0054_,0.0,2.2
1A2P/ASP-C0012_,0.0,3.8
1A2P/HIS+C0018_,14.0,7.75
1A2P/ASP-C0022_,0.0,3.3
1A2P/GLU-C0029_,0.0,3.75
1A2P/ASP-C0044_,0.0,3.6
1A2P/ASP-C0075_,0.0,3.1

In [206]:
matched_df = pkanalysis.load_matched_pkas(matched_fp)
matched_df.shape

(20, 3)

In [207]:
matched_df

         resid  mcce  expl
0   ASP-A0018_   0.0  2.68
1   GLU-A0035_   0.0  6.06
2   GLU-A0007_   0.0  2.68
3   ASP-A0119_   0.0  3.35
4   ASP-A0087_   0.0  2.13
5   ASP-A0052_   0.0  3.78
6   CTR-C0110_   0.0  3.30
7   HIS+C0102_  14.0  6.30
8   ASP-C0101_   0.0  2.00
9   ASP-C0086_   0.0  4.20
10  ASP-C0008_   0.0  3.10
11  GLU-C0073_   0.0  2.10
12  GLU-C0060_   0.0  3.00
13  ASP-C0054_   0.0  2.20
14  ASP-C0012_   0.0  3.80
15  HIS+C0018_  14.0  7.75
16  ASP-C0022_   0.0  3.30
17  GLU-C0029_   0.0  3.75
18  ASP-C0044_   0.0  3.60
19  ASP-C0075_   0.0  3.10

In [205]:
print(f"Calculating the matched pkas stats into dict.")
# no need for returned df here -> to tsv:
re_out = pkanalysis.res_outlier_count(matched_fp, replace=True)
re_out.head()

print(f"Calculating the matched pkas stats into dict.")
# no need for returned df here -> to tsv:
reid_out = pkanalysis.res_outlier_count(matched_fp, grp_by="resid", replace=True)
reid_out

Calculating the matched pkas stats into dict.

                   Out of bounds (0, 14) Delta over 3
RES | mcce v. expl
ASP                                   12            8
CTR                                    1            1
GLU                                    5            2
HIS                                    2            2
pct                                 100%          65%

Calculating the matched pkas stats into dict.

                     Out of bounds (0, 14) Delta over 3
RESID | mcce v. expl
ASP-A0018_                               1            0
ASP-A0052_                               1            1
ASP-A0087_                               1            0
ASP-A0119_                               1            1
ASP-C0008_                               1            1
ASP-C0012_                               1            1
ASP-C0022_                               1            1
ASP-C0044_                               1            1
ASP-C0054_                               1            0
ASP-C0075_                               1            1
ASP-C0086_                               1            1
ASP-C0101_                               1            0
CTR-C0110_                               1            1
GLU-A0007_                               1            0
GLU-A0035_                               1            1
GLU-C0029_                               1            1
GLU-C0060_                               1            0
GLU-C0073_                               1            0
HIS+C0018_                               1            1
HIS+C0102_                               1            1
pct                                   100%          65%

In [41]:
all_sumcrg_fp = benchmarks_dir.joinpath(ANALYZE_DIR, FILES.ALL_SUMCRG.value)
all_sumcrg_fp

allcrg_df = iou.fout_df(all_sumcrg_fp, collated=True, kind="sumcrg")
allcrg_df.shape

allcrg_df.head()

PosixPath('/home/cat/projects/bench_tests/newEP2/analysis/all_sumcrg.out')

default: len(fwd_collated) = 17

(153, 16)

,resid@PH,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
pH,,,,,,,,,,,,,,,,
135L,NTR+A0001_,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
135L,LYS+A0001_,0.0,0.0,0.00,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
135L,TYR-A0003_,-0.0,-0.0,-0.00,-0.0,-0.00,-0.00,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
135L,ARG+A0005_,1.0,1.0,0.99,0.9,0.46,0.08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
135L,GLU-A0007_,-0.0,-0.0,-0.00,-0.0,-0.00,-0.00,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0

In [73]:
pkanalysis.collate_all_pkas(benchmarks_dir)
pkanalysis.extract_oob_pkas(benchmarks_dir)

None

In [81]:
all_tsv_fp = benchmarks_dir.joinpath(ANALYZE_DIR, FILES.ALL_PKAS_TSV.value)
all_tsv_fp.exists()

alltsv_df = pkanalysis.all_pkas_df(benchmarks_dir, reduced_ok=True)
alltsv_df.shape
alltsv_df.head()

# reduced_ok=False load original (complete)
alltsv_df = pkanalysis.all_pkas_df(benchmarks_dir, reduced_ok=False)
alltsv_df.shape

alltsv_df.head()

True

None

(28, 15)

,resid@PH,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
PDB,,,,,,,,,,,,,,,
135L,ARG+A0005_,3.939,1.044,0.064,0.0,0.0,0.0,0.0,8.57,0.0,-8.56,0.0,0.45,0.0,0.45
135L,ARG+A0014_,3.934,1.019,0.027,0.0,0.0,0.0,0.0,8.57,0.0,-8.57,0.0,0.45,0.0,0.45
135L,ARG+A0021_,3.924,1.020,0.004,0.0,0.0,0.0,0.0,8.57,0.0,-8.58,0.0,0.45,0.0,0.44
135L,ARG+A0045_,3.939,1.025,0.011,0.0,0.0,0.0,0.0,8.57,0.0,-8.56,0.0,0.45,0.0,0.45
135L,ARG+A0061_,3.942,1.033,0.074,0.0,0.0,0.0,0.0,8.57,0.0,-8.56,0.0,0.45,0.0,0.45

(147, 15)

,resid@PH,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
PDB,,,,,,,,,,,,,,,
135L,NTR+A0001_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,16.42,-0.95,-8.00,0.0,0.00,0.0,7.47
135L,LYS+A0001_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,13.42,0.29,-10.40,0.0,0.00,0.0,3.31
135L,TYR-A0003_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,12.46,-0.37,-3.80,0.0,0.30,0.0,8.60
135L,ARG+A0005_,3.939,1.044,0.064,0.0,0.0,0.0,0.0,8.57,0.00,-8.56,0.0,0.45,0.0,0.45
135L,GLU-A0007_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,12.54,-0.22,-9.25,0.0,0.60,0.0,3.67

In [61]:
all_pks_fp = benchmarks_dir.joinpath(ANALYZE_DIR, FILES.ALL_PKAS.value)
all_pks_fp

allpks_df = iou.fout_df(all_pks_fp, collated=True)
allpks_df.shape

allpks_df.head()

PosixPath('/home/cat/projects/bench_tests/newEP2/analysis/all_pkas.out')

(147, 15)

,resid@PH,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
PDB,,,,,,,,,,,,,,,
135L,NTR+A0001_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,16.42,-0.95,-8.00,0.0,0.00,0.0,7.47
135L,LYS+A0001_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,13.42,0.29,-10.40,0.0,0.00,0.0,3.31
135L,TYR-A0003_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,12.46,-0.37,-3.80,0.0,0.30,0.0,8.60
135L,ARG+A0005_,3.939,1.044,0.064,0.0,0.0,0.0,0.0,8.57,0.00,-8.56,0.0,0.45,0.0,0.45
135L,GLU-A0007_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,12.54,-0.22,-9.25,0.0,0.60,0.0,3.67

### Q: can a all_pkas.out be loaded into df? YES!!

In [83]:
allout = benchmarks_dir.joinpath(ANALYZE_DIR, FILES.ALL_PKAS.value)
allout.exists()

allpks_df = pkanalysis.all_pkas_df(allout) #, reduced_ok=False)
allpks_df.shape
#allpks_df.info()
allpks_df.head()
allpks_df.tail()

True

(147, 15)

,resid@PH,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
PDB,,,,,,,,,,,,,,,
135L,NTR+A0001_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,16.42,-0.95,-8.00,0.0,0.00,0.0,7.47
135L,LYS+A0001_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,13.42,0.29,-10.40,0.0,0.00,0.0,3.31
135L,TYR-A0003_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,12.46,-0.37,-3.80,0.0,0.30,0.0,8.60
135L,ARG+A0005_,3.939,1.044,0.064,0.0,0.0,0.0,0.0,8.57,0.00,-8.56,0.0,0.45,0.0,0.45
135L,GLU-A0007_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,12.54,-0.22,-9.25,0.0,0.60,0.0,3.67

,resid@PH,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
PDB,,,,,,,,,,,,,,,
1A2P,TYR-C0103_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,12.46,-0.37,-3.80,0.0,0.30,0.0,8.60
1A2P,LYS+C0108_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,13.42,0.29,-10.40,0.0,0.00,0.0,3.31
1A2P,ARG+C0110_,3.978,1.0,0.117,0.0,0.0,0.0,0.0,8.51,0.00,-8.52,0.0,0.67,0.0,0.66
1A2P,CTR-C0110_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,13.49,0.00,-10.25,0.0,0.60,0.0,3.84
1A2P,_ZN+C0112_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,32.99,0.00,0.00,0.0,0.00,0.0,32.99

In [84]:
allout_df = pkanalysis.all_pkas_df(benchmarks_dir)  #titr_type='ph' : default
allout_df.shape
allout_df.info()

allout_df.head()
allout_df.tail()

None

(28, 15)

<class 'pandas.core.frame.DataFrame'>
Index: 28 entries, 135L to 1A2P
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   resid@PH   28 non-null     object
 1   pKa/Em     28 non-null     float64
 2   n(slope)   28 non-null     float64
 3   1000*chi2  28 non-null     float64
 4   vdw0       28 non-null     float64
 5   vdw1       28 non-null     float64
 6   tors       28 non-null     float64
 7   ebkb       28 non-null     float64
 8   dsol       28 non-null     float64
 9   offset     28 non-null     float64
 10  pHpK0      28 non-null     float64
 11  EhEm0      28 non-null     float64
 12  -TS        28 non-null     float64
 13  residues   28 non-null     float64
 14  total      28 non-null     float64
dtypes: float64(14), object(1)
memory usage: 3.5+ KB

,resid@PH,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
PDB,,,,,,,,,,,,,,,
135L,ARG+A0005_,3.939,1.044,0.064,0.0,0.0,0.0,0.0,8.57,0.0,-8.56,0.0,0.45,0.0,0.45
135L,ARG+A0014_,3.934,1.019,0.027,0.0,0.0,0.0,0.0,8.57,0.0,-8.57,0.0,0.45,0.0,0.45
135L,ARG+A0021_,3.924,1.020,0.004,0.0,0.0,0.0,0.0,8.57,0.0,-8.58,0.0,0.45,0.0,0.44
135L,ARG+A0045_,3.939,1.025,0.011,0.0,0.0,0.0,0.0,8.57,0.0,-8.56,0.0,0.45,0.0,0.45
135L,ARG+A0061_,3.942,1.033,0.074,0.0,0.0,0.0,0.0,8.57,0.0,-8.56,0.0,0.45,0.0,0.45

,resid@PH,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
PDB,,,,,,,,,,,,,,,
1A2P,ARG+C0069_,3.955,1.011,0.091,0.0,0.0,0.0,0.0,8.54,0.0,-8.55,0.0,0.58,0.0,0.57
1A2P,ARG+C0072_,3.934,1.023,0.108,0.0,0.0,0.0,0.0,8.57,0.0,-8.57,0.0,0.45,0.0,0.45
1A2P,ARG+C0083_,3.969,1.016,0.004,0.0,0.0,0.0,0.0,8.54,0.0,-8.53,0.0,0.58,0.0,0.58
1A2P,ARG+C0087_,3.932,1.035,0.004,0.0,0.0,0.0,0.0,8.57,0.0,-8.57,0.0,0.45,0.0,0.44
1A2P,ARG+C0110_,3.978,1.000,0.117,0.0,0.0,0.0,0.0,8.51,0.0,-8.52,0.0,0.67,0.0,0.66

## Out of bound values? +/-8888: out of titration bounds; 9999: curve too sharp

In [49]:
msk = pkanalysis.get_oob_mask(allout_df)  #(abs(allout_df["pKa/Em"]) == 8888.) | (allout_df["pKa/Em"] == 9999.)
oob_df = allout_df[msk]
n_oob = oob_df.shape[0]
n_oob
oob_df.head()

119

,resid@PH,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
PDB,,,,,,,,,,,,,,,
135L,NTR+A0001_,-8888.0,NaN,NaN,0.0,0.0,0.0,0.0,16.42,-0.95,-8.00,0.0,0.0,0.0,7.47
135L,LYS+A0001_,-8888.0,NaN,NaN,0.0,0.0,0.0,0.0,13.42,0.29,-10.40,0.0,0.0,0.0,3.31
135L,TYR-A0003_,8888.0,NaN,NaN,0.0,0.0,0.0,0.0,12.46,-0.37,-3.80,0.0,0.3,0.0,8.60
135L,GLU-A0007_,8888.0,NaN,NaN,0.0,0.0,0.0,0.0,12.54,-0.22,-9.25,0.0,0.6,0.0,3.67
135L,LYS+A0013_,-8888.0,NaN,NaN,0.0,0.0,0.0,0.0,13.42,0.29,-10.40,0.0,0.0,0.0,3.31

In [15]:
## Reset allout_df: no oob:
allout_df.shape
allout_df = allout_df[~msk]
allout_df.shape

(6064, 15)

(4839, 15)

### Other way to load a pkout file into a df: pkanalysis.pkout_df(pko_fp:str, collated=True)

In [55]:
allout = benchmarks_dir.joinpath(ANALYZE_DIR, FILES.ALL_PKAS.value)
allout.exists()

True

In [56]:
allout_df2 = pkanalysis.fout_df(allout, collated=True)  # False is default
allout_df2.head()

,resid@PH,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
PDB,,,,,,,,,,,,,,,
135L,NTR+A0001_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,16.42,-0.95,-8.00,0.0,0.00,0.0,7.47
135L,LYS+A0001_,-8888.000,NaN,NaN,0.0,0.0,0.0,0.0,13.42,0.29,-10.40,0.0,0.00,0.0,3.31
135L,TYR-A0003_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,12.46,-0.37,-3.80,0.0,0.30,0.0,8.60
135L,ARG+A0005_,3.939,1.044,0.064,0.0,0.0,0.0,0.0,8.57,0.00,-8.56,0.0,0.45,0.0,0.45
135L,GLU-A0007_,8888.000,NaN,NaN,0.0,0.0,0.0,0.0,12.54,-0.22,-9.25,0.0,0.60,0.0,3.67

### Filtering allout_df

# Filter allout:

bca_df = allout_df.loc["2BCA"]
bca_df.shape
bca_df.head(3)

bca_df.columns
# cols for job pka:
c_resid, c_pka =  bca_df.columns[:2]
c_resid, c_pka

In [13]:
benchmarks_dir

PosixPath('/home/cat/projects/bench_tests/all_pdbs')

### Other way: load one pk.out file:

In [34]:
onepk = benchmarks_dir.joinpath(RUNS_DIR, "2BCA", "pK.out")
one_dfo = pkanalysis.pkout_df(onepk)  # collated=False: default
one_dfo.head(3)

,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
pH,,,,,,,,,,,,,,
NTR+A0001_,8.385,0.985,0.008,-0.00,-0.0,-0.26,0.91,0.45,-0.95,0.38,0.0,0.00,-0.54,-0.01
LYS+A0001_,12.357,0.943,0.012,-0.00,-0.0,0.00,0.25,0.75,0.29,1.96,0.0,0.00,-3.24,0.00
GLU-A0004_,3.994,0.874,0.080,-0.01,0.0,-0.17,-0.42,0.12,-0.22,0.76,0.0,0.57,-0.04,0.57

## Out of bound values? +/-8888: out of titration bounds; 9999: curve too sharp

In [39]:
msk = pkanalysis.get_oob_mask(one_dfo)
one_dfo[msk]

,pKa/Em,n(slope),1000*chi2,vdw0,vdw1,tors,ebkb,dsol,offset,pHpK0,EhEm0,-TS,residues,total
pH,,,,,,,,,,,,,,
TYR-A0013_,8888.0,NaN,NaN,0.0,0.0,-0.0,-0.25,2.46,-0.37,-3.8,0.0,0.15,2.36,0.56

---
---
---